//
// UNIVERSAL STYLES
//

* {
    // padding: 0;
    // margin: 0;
    // font-size: 16px;
    box-sizing: border-box;
}

html,
body {
    color: #233d4dff;
    background-color: #e9e3e6ff;
}

//
// UNIVERSAL CLASSES
//
.container {
    text-align: center;
    padding: 50px 0;
}

.hamburger-outer {
    display: inline-block;
    overflow: visible;
    padding: 15px;
    // margin-right: 200px;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    position: absolute;
    background-color: #e9e3e6ff;
    width: 40px;
    height: 4px;
    border-radius: 4px;
}

.hamburger-inner {
    display: block;
    top: 5%;
    left: 5%;
    margin-top: -2px;
}

.hamburger-inner::after, .hamburger-inner::before {
    content: "";
    left: 0px;
}
 
.hamburger-inner::after {
    top: 10px;
}
.hamburger-inner::before {
    top: -10px;
}
//
// TITLE SECTION
//

#title {
    background-color: #233d4dff;
    color: #e9e3e6ff;

    h1 {
        display: inline-block;
    }
}


//
// BIKE SELECTION SECTION
//

// #bike-selection {}

#bike-selection-title {
    padding: 50px 0;
}

#search-input {
    margin-bottom: 50px;
}

.bike-image {
    display: block;
    text-align: center;
    width: 30rem;
    height: auto;
    margin: 20px auto;
    box-shadow: 10px 10px 4px grey;
    margin-bottom: 73px;
}

.bike-info-links {
    display: inline-block;
    background-color: #ffc533ff;
    border-radius: 10px;
    padding: 5px 20px;
}

.bike-info-links:hover {
    background-color: rgb(255, 216, 116);
    text-decoration: none;
    box-shadow: 0px 5px 3px grey;
}

.bike-info-links:active {
    background-color: #ffc533ff;
    box-shadow: none;
}

//
// SPECIFICATIONS SECTION
//

#specifications {
    background-color: whitesmoke;
}

.specifications-list {
    display: inline-block;
    margin: 20px;
}

//
// MAINTENANCE SCHEDULE SECTION
//

//
// TROUBLE SHOOTING SECTION
//

#trouble-shooting {
    background-color: whitesmoke;
}

//
// FOOTER SECTION
//

#footer {
    // background-color: whitesmoke;
    width: 100%;
    padding: 10px 0;

    p {
        text-align: center;
        margin-bottom: 0;
    }
}


//
// COLORS
//
// /* CSS HEX */
// --charcoal: #233d4d;
// --red-ryb: #ff220cff;
// --blood-red: #6b0504ff;
// --pale-silver: #c3babaff;
// --mikado-yellow: #ffc533ff;
// --hover-yellow: rgb(255, 216, 116);
// --platinum: #e9e3e6ff;