/* colors 
BACKGROUND
    background-color: lightgray;
h1
    color: #353535;



*/


/* Universal Themes */
html, body {
    height: 100%;
}
html {
    background-color: lightgray;
    text-align: center;
}

h1 {
    color: #353535;
}
h5 {
    color: red;
}
/* top bar */
.top-bar {
    display: flex;
    flex-direction: row;
}
.headshot {
    height: 100px;
    width: auto;
    float: left;
}
nav {
    justify-content: flex-end;
}
li {
    float: right;
    list-style: none;
    padding: 10px;
}
.top-bar_nav {
    justify-self: flex-end;
}

.table-general {
    border-collapse: collapse;
    border-spacing: 10;
    border: 1px solid black;
    padding: 2px;
}

td {
    padding: 3px;
}

thead {
    background-color: indianred;
}


tr:nth-child(even) {
    background-color: grey;
}

.aboutme {
    max-width: 1200px;
}