html, body {
    height: 100%;
}
html {
    background-color: lightgray;
}

h1 {
    color: #353535;
}

.headshot {
    height: 300px;
    width: auto;
}

table {
    border-collapse: collapse;
    cellspacing: 50px;
}

thead {
    background-color: indianred;
}
td:first-child {
    padding-right: 20px;
}
tr:nth-child(even) {
    background-color: grey;
}

.aboutme {
    max-width: 1200px;
}