// main
main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

// Header / Nav Bar

// Tracker Section
td>input {
  width: 8rem;
}

// Virtures Section

// Graph Section

// Footer Section

