/* colors */
/* color: #ebebeb; // off white */
main {
  height: 50vh;
  /* background-image: url(//unsplash.it/1000/1000); */
  background-image: url(https://images.theconversation.com/files/379026/original/file-20210115-21-90wsyw.jpg?ixlib=rb-1.1.0&rect=7%2C131%2C4876%2C2438&q=45&auto=format&w=1356&h=668&fit=crop);
  background-color: #333;
  background-blend-mode: luminosity;
  background-size: cover;
  display: grid;
  place-items: center;
}


.brand {
  color: red;
  font-size: 3rem;
}

.first {
  color: #ebebeb;
}
