//
// Colors
//

// khaki;
// aquamarine;

//
// Universal Styles
//
html, body {
    margin: 0;
}
h1 {
    margin-top: 0;
}


//
// INTRODUCTION
//
.introduction {
    background-color: paleturquoise;
    text-align: center;
    position: relative; // position of this container must be relative otherwise you can't use relative positioning on the elements within it.
    padding-top: 100px
}
.top {
    position: relative;
    z-index: 2;
}
.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute; // make sure it's container is set to relative
    width: 220px;
    height: auto;
    left: 65%;
    top: 20px;
}

.bottom-cloud {
    position: absolute; // make sure it's container is set to relative

    width: 220px;
    height: auto;
    top: 400px;
    left: 25%;
}
// INLINE ELEMENTS ***CAN*** DISPLAY INLINE AND YOU ***CAN'T*** CHANGE THEIR DIMENTIONS
// .i {
//     display: inline;
//     width: 500px;
//     background-color: green;
// }
// BLOCK ELEMENTS ***CAN'T*** DISPLAY INLINE AND YOU ***CAN*** CHANGE THEIR DIMENTIONS
// .b {
//     display: block;
//     width: 500px;
//     background-color: greenyellow;
// }
// INLINE-BLOCK ELEMENTS ***CAN*** DISPLAY INLINE AND YOU ***CAN*** CHANGE THEIR DIMENTIONS
// .ib {
//     display: inline-block;
//     width: 500px;
//     background-color: yellow;
// }


//
// BOTTOM CONTAINERS
//
.middle-container {
    background-color: aquamarine;
    height: 300px;
    width: 300px;
}

.bottom-container {
    background-color: khaki;
    height: 300px;
    width: 300px;
}
