//
// Colors
//

// background-color: rgb(223, 223, 223);
// background: linear-gradient(rgb(231, 249, 250), rgb(206, 247, 247));

//
// Universal Styles
//
html, body {
    margin: 0;
    font-family: Merriweather, serif;
    background-color: rgb(223, 223, 223);
}
// 16px = 100% = 1em (used to be the width of the capital letter 'M'.
h1 {
    margin-top: 0;
    // font-size: 562%;
    font-size: 5.62rem; // use 'rem' instead of 'em'
                        // em builds off parent font sizes
                        // rem always references the root size and is therefore far more reliable and less likely to do unexpected things.
}

h2{
    font-family: Montserrat, sans-serif;
    text-align: center;
}

h3{
    font-family: Montserrat, sans-serif;
    text-align: center;
}
//
// INTRODUCTION
//
.introduction {
    background: linear-gradient(rgb(231, 249, 250), rgb(206, 247, 247));
    text-align: center;
    position: relative; // position of this container must be relative otherwise you can't use relative positioning on the elements within it.
    padding-top: 200px
}

.name {
    font-family: Sacramento, cursive, serif;
}
.intro {
    font-size: 30px;
}
.top {
    position: relative;
    z-index: 2;
    margin-bottom: 110px;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute; // make sure it's container is set to relative
    height: auto;
    left: 65%;
    top: 50px;
}

.bottom-cloud {
    position: absolute; // make sure it's container is set to relative
    width: 220px;
    height: auto;
    bottom: 320px;
    left: 25%;
}
// INLINE ELEMENTS ***CAN*** DISPLAY INLINE AND YOU ***CAN'T*** CHANGE THEIR DIMENTIONS
// .i {
//     display: inline;
//     width: 500px;
//     background-color: green;
// }
// BLOCK ELEMENTS ***CAN'T*** DISPLAY INLINE AND YOU ***CAN*** CHANGE THEIR DIMENTIONS
// .b {
//     display: block;
//     width: 500px;
//     background-color: greenyellow;
// }
// INLINE-BLOCK ELEMENTS ***CAN*** DISPLAY INLINE AND YOU ***CAN*** CHANGE THEIR DIMENTIONS
// .ib {
//     display: inline-block;
//     width: 500px;
//     background-color: yellow;
// }


//
// MIDDLE CONTAINER
//
.middle-container {
    text-align: center;
}

.profile {
    position: relative;
    padding: 20px;
}

.profile-pic {
    height: 300px;
}

.napoleon-dancing {
    height: 250px;
    width: auto
}
.skill-row {
    margin-top: 100px;
}
//
// BOTTOM CONTAINER
//
.bottom-container {
    text-align: center;
}